body {
		font-family: 'Montserrat', monospace;
		cursor: pointer;
		background-color: rgb(255, 215, 0);
		text-align: center;
		position: relative
	}
	h1 {
		font-size: 36px;
		margin-top: 100px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 12px;
		position: relative;
        overflow: hidden;
	}

    .socialMedia {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    	}
    .socialMedia > *:first-child {
        margin-left: 0;
    }
    .socialMedia > *:last-child {
       margin-right: 0;
    }
    .socialMedia > * {
        margin-right: 12px;
        margin-left: 12px;
    }

	.exchangeRates {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .exchangeRates > *:first-child {
        margin-left: 0;
    }
    .exchangeRates > *:last-child {
        margin-right: 0;
    }
    .exchangeRates > * {
        margin-right: 12px;
        margin-left: 12px;
    }

    .rate-item-value {
        font-size: 18px;
        font-weight: bold;
    }
    .rate-item-value.top {
        color: rgb(255, 51, 51);
    }
    .rate-item-value.bottom {
        color: rgb(19, 189, 61);
    }

	.inputContacts {
		position: center;
		width: 212px;
		height: 32px;
		margin: 8px 0px 8px 0px;
		font-family: 'Montserrat', monospace;
		font-size: 10px;
		font-weight: regular;
		padding-left: 16px;
		color: rgb(100, 100, 100);
		border: none;
		border-radius: 2px;
	}
	textarea {
		padding-top: 14px;
	}
	.checkbox {
		width: 16px;
		height: 16px;
		margin: 0px 8px 8px 0px;
		border: none;
		border-radius: 2px;
	}
	.footnote {
		font-size: 10px;
	}
	.buttonMain {
		width: 212px;
		height: 38px;
		border: none;
		border-radius: 20px;
		margin: 8px 0px 8px 0px;
		text-align: center;
		font-family: 'Montserrat', monospace;
		font-size: 12px;
		font-weight: bold;
		background-color: rgb(0, 0, 0);
		color: rgb(255, 255, 255);
		cursor: pointer;
	}
	.buttonSecond {
		width: 212px;
		height: 38px;
		border: none;
		border-radius: 20px;
		margin: 8px 0px 8px 0px;
		text-align: center;
		font-family: 'Montserrat', monospace;
		font-size: 12px;
		font-weight: bold;
		transparent: 0%;
		color: rgb(0, 0, 0);
		cursor: pointer;
	}